html,
body {
  height: 100%;
  margin: 0;
  background-color: #E6D9F2; /* fond parme clair */
  font-family: 'Inter', system-ui, -apple-system,
               BlinkMacSystemFont, 'Segoe UI',
               Roboto, sans-serif;
}

#root {
  min-height: 100vh;
}
